<div class="col-md-4 text-center">
  <md-button ng-disabled="alreadyInWishList" class="md-icon-button" ng-click="AddToWishList(book)"
             style="position: absolute; top: -20px; right: 4px" aria-label="Favorite">
    <i ng-class="wishHeart" ng-mouseleave="onMouseLeave()" ng-mouseenter="onMouseEnter()" style="font-size: medium;"></i>
  </md-button>
  <a href="/book?code={{book.code}}">
    <img src="{{book.image}}">
  </a>
  <p style="margin-top: 30px; text-align: center">
    <bk-price></bk-price>
    <bk-buy-button book = "book"></bk-buy-button>
  </p>
</div>
<div class="col-md-8">
  <a href="/book?code={{book.code}}">
    <h4 style="margin-top: 0px">{{book.name}}</h4>
  </a>
  <bk-book-detail-info></bk-book-detail-info>
  <div ng-if="book.description"><b>Описання: </b>{{book.description}}...</div>
</div>
