<div class="col-md-4 text-center">
  <md-button class="md-icon-button" ng-click="AddToWishList(book)"
             style="position: absolute; top: -20px; right: 4px" aria-label="Favorite">
    <i ng-class="wishHeart" ng-mouseleave="onMouseLeave()" ng-mouseenter="onMouseEnter()" style="font-size: medium;"></i>
  </md-button>
  <div style="display: inline-block; position: relative;">
    <div ng-if="book.actionKM == '5'" style="position: absolute; top: -3px; left: -3px">
      <img width="60" height="60" src="img/minus_5_baloon.png">
    </div>
    <a href="/book?code={{book.code}}">
      <img src="{{book.image}}">
    </a>
  </div>
  <p style="margin-top: 30px; text-align: center">
    <bk-price book="book" div="false"></bk-price>
    <bk-buy-button book="book">
    </bk-buy-button>
  </p>
</div>
<div class="col-md-8">
  <a href="/book?code={{book.code}}">
    <h4 style="margin-top: 0px">{{book.name}}</h4>
  </a>
  <bk-book-detail-info></bk-book-detail-info>
  <div ng-if="book.description"><b>Описання: </b>{{book.description}}...</div>
</div>
