<div class="col-md-4 text-center">
  <md-button class="md-icon-button" ng-click="AddToWishList(book)"
             style="position: absolute; top: -20px; right: 4px" aria-label="Favorite">
    <i ng-class="wishHeart" ng-mouseleave="onMouseLeave()" ng-mouseenter="onMouseEnter()" style="font-size: medium;"></i>
  </md-button>
  <div style="display: inline-block; position: relative;">
    <div ng-if="book.actionKM != null && book.actionKM >= 8" style="position: absolute; top: -3px; left: -3px">
      <img width="60" src="img/minus_{{book.actionKM}}_baloon.png">
    </div>
    <div ng-if="book.elBookExist" style="position: absolute; bottom: -15px; right: -10px">
      <md-button ng-href="/book?code={{book.code}}" class="md-raised brand-color-background">+ E-Book</md-button>
    </div>
    <a href="/book?code={{book.code}}">
      <img src="{{book.image}}">
    </a>
  </div>

<div ng-if="book.priceElBook > 0 && book.link === ''" style="text-align: center">
  <span class="price_value" style="font-size: 25px; color: black; vertical-align: middle">{{book.priceElBook | currency: ""}} <span style="font-size: 15px">грн</span></span>
  <md-button class="md-raised brand-color-background" ng-click="BuyElBook(book)" ng-disabled="savingInProgress">
    <md-tooltip md-direction="bottom">Купити електронну книжку</md-tooltip>
    <span ng-hide="savingInProgress" class="fa fa-cart-arrow-down"></span>&nbsp;електронна *
    <i ng-show="savingInProgress" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>    
  </md-button>
</div>
  
  <p style="margin-top: 30px; text-align: center">
    <bk-price book="book" class="price-inline"></bk-price>
    <bk-buy-button book="book">
    </bk-buy-button>
  </p>
</div>
<div class="col-md-8">
  <a href="/book?code={{book.code}}">
    <h4 style="margin-top: 0px">{{book.name}}</h4>
  </a>
  <bk-book-detail-info></bk-book-detail-info>
  <div ng-if="book.description"><b>Описання: </b>{{book.description}}...</div>
</div>
