<span ng-if="searching">
  <md-progress-circular class="center-block" style="stroke: #0089cf; margin-top: 70px" md-mode="indeterminate"></md-progress-circular>
</span>
<span ng-if="!searching">
  <div ng-if="pages.length > 1" class="row">
    <div class="col-md-8" style="text-align: center">
      <ul class="pagination">
        <li>
          <a href="#" ng-click="goToPage(pagePrevious); $event.preventDefault()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-class="{active: page.active}" ng-repeat="page in pages"><a href="#" ng-click="goToPage(page.page); $event.preventDefault()">{{page.page}}</a></li>
        <li>
          <a href="#" ng-click="goToPage(pageNext); $event.preventDefault()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4" style="text-align: right">
       <bk-catalog-buttons></bk-catalog-buttons>
    </div>
  </div>
  <div ng-if="pages.length === 1" class="row">
    <div class="col-md-12" style="text-align: right">
      <bk-catalog-buttons></bk-catalog-buttons>
    </div>
  </div>
  <div ng-if="kindOfView==='list'" ng-repeat="book in books" class="row" style="margin-top: 25px">
    <bk-book-list book="book"></bk-book-list>
  </div>
  <span ng-if="kindOfView==='tiles'" ng-repeat="book in books">
     <div class="col-xs-6 col-sm-6 col-md-4" style="min-height: 400px;">
       <bk-book-tail book="book"></bk-book-tail>
     </div>
     <div class="clearfix visible-md-block" ng-if="($index+1)%3 === 0"></div>
     <div class="clearfix visible-xs-block" ng-if="($index+1)%2 === 0"></div>
  </span>
  <div ng-if="pages.length > 1" class="row">
    <div class="col-md-8" style="text-align: center;">
      <ul class="pagination">
        <li>
          <a href="#" ng-click="goToPage(pagePrevious); $event.preventDefault()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-class="{active: page.active}" ng-repeat="page in pages"><a href="#" ng-click="goToPage(page.page); $event.preventDefault()">{{page.page}}</a></li>
        <li>
          <a href="#" ng-click="goToPage(pageNext); $event.preventDefault()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4" style="text-align: right">
      <bk-catalog-buttons></bk-catalog-buttons>
    </div>
  </div>
  <div ng-if="pages.length === 1" class="row">
    <div class="col-md-12" style="text-align: right">
      <bk-catalog-buttons></bk-catalog-buttons>
    </div>
  </div>
</span>
