<p ng-if="book.priceElBook > 0 && elBookLink === ''" style="text-align: center">
  <span class="price_value" style="font-size: 25px; color: black;">{{book.priceElBook}} <span style="font-size: 15px">грн</span></span>
  <md-button class="md-fab md-mini brand-color-background" ng-click="BuyElBook(book)" ng-disabled="savingInProgress">
    <md-tooltip md-direction="bottom">Купити електронну</md-tooltip>
    <span ng-hide="savingInProgress" style="font-size: medium" class="fa fa-cloud-download"></span>
    <i ng-show="savingInProgress" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </md-button>
</p>
<p ng-if="elBookLink !== ''" style="text-align: center">
  <md-button class="md-fab md-mini green-color-background" ng-click="DownloadElBook(elBookLink, selectors.existedFormat)">
    <md-tooltip md-direction="bottom">Завантажити електронну</md-tooltip>
    <span style="font-size: medium" class="fa fa-cloud-download"></span>
  </md-button>
  <md-input-container>
    <label>Формат</label>
    <md-select ng-model="selectors.existedFormat">
      <md-option ng-repeat="existedFormat in existedFormats" ng-value="existedFormat">
        {{existedFormat}}
      </md-option>
    </md-select>
  </md-input-container>
</p>
