<div ng-style="footerStyle" class="footer" style="background-color: #101010; opacity: 0.9; margin-top: 20px; width: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 style="color: white; margin-top: 15px">Приєднуйтесь до нас!</h5>
        <a href="https://www.facebook.com/kmbooks.publishing" aria-label="Facebook" style="text-decoration: none; color: white; font-size: x-large">
          <i class="fa fa-facebook"></i>
        </a>&nbsp;&nbsp;
        <a href="https://www.instagram.com/km_books_ua" aria-label="Instagram" style="text-decoration: none; color: white; font-size: x-large">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <h5 style="text-align: left">
              <a href="/catalog" style="color: white;">Каталог</a>
            </h5>
            <h5 style="text-align: left">
              <a href="/news_list" style="color: white;">Новини</a>
            </h5>
            <h5 style="text-align: left">
              <a href="/ntml_page?name=delivery_and_payment" style="color: white;">Доставка та оплата</a>
            </h5>
          </div>
          <div class="col-md-4">
            <h5 style="color:white; text-align: left">
              <a href="/ntml_page?name=for_authors" style="color: white;">Авторам</a>
            </h5>
            <h5 style="text-align: left">
              <a href="/map" style="color: white;">Пункти самовивозу</a>
            </h5>
            <h5 style="text-align: left">
              <a href="/ntml_page?name=conditions_of_purchase" style="color: white;">Умови придбання</a>
            </h5>
          </div>
          <div class="col-md-4">
            <h5 style="color:white; text-align: left">
              (044) 228-78-24
            </h5>
            <h5 style="color:white; text-align: left">
              (098) 050-85-13
            </h5>
            <h5 style="text-align: left">
              <a href="/contacts" style="color: white;">Контакти</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div style="margin-top: 10px" style="text-align: right">
          <div ng-click="ShowCallbackDialog()" style="color: white;">Передзвонити мені</div>
        </div>
        <div style="margin-top: 5px" style="text-align: right">
          <div ng-click="ShowSubscribeDialog()" style="color: white;">Підпишись на новини</div>
        </div>
        <div style="color: white; margin-top: 5px" style="text-align: right">
          kmbooks.com.ua <i class="fa fa-copyright" aria-hidden="true"></i> 2017-2019
        </div>
      </div>
    </div>
  </div>
</div>
