<a href="#/news?id={{news.id}}">
<div class="news-item" style="overflow: hidden">
  <div class="news-image" style="background-color: lightgrey;
            background-image:url('{{news.image + '_small.jpg'}}');
            height: 200px;
            ">
  </div>
  <div class="news-plate" style="position: absolute; width: 80%; height: 80%; top:10%; left: 10%">
    <div style="position: absolute; top: 38%; width: 100%;
              text-align: center;
              color: white;
               ">
      <h5>{{news.title}}</h5>
    </div>
  </div>
</div>
</a>





