<a href="#/news?id={{news.id}}">
<div class="news-item" style="overflow: hidden">
  <div class="news-image" style="background-color: lightgrey;
            background-image:url('{{news.image + '_small.jpg'}}');
            height: 200px;
            ">
  </div>
  <div class="news-plate" style="position: absolute; width: 80%; height: 80%; top:10%; left: 10%; line-height: 155px;
              text-align: center;">
    <div style="
              display: inline-block;
              vertical-align: middle;
              line-height: normal;
              font-size: 15px; padding: 10px;
              color: white;
               ">
      {{news.title}}
    </div>
  </div>
</div>
</a>





