<table ng-if="order.goodsTable.length > 0" class="table-striped" width="100%">
  <caption>Склад заказу</caption>
  <thead>
  <th class="col-md-2">

  </th>
  <th class="col-md-5">
    Товар
  </th>
  <th class="col-md-1">
    Кільк
  </th>
  <th class="col-md-1">
    Знижка
  </th>
  <th class="col-md-1">
    Ціна
  </th>
  <th class="col-md-1">
    Сума
  </th>
  </thead>
  <tbody>
  <tr ng-repeat="cartItems in order.goodsTable">
    <a href="/book?code={{cartItems.code}}">
      <td>
        <a href="/book?code={{cartItems.code}}">
          <img class="img-responsive" style="max-width: 70px;" ng-src="/img/pics/{{cartItems.code}}.jpg"/>
        </a>
      </td>
      <td style="text-align: left">
        <a href="/book?code={{cartItems.code}}">
          <p>{{cartItems.name}}</p>
        </a>
      </td>
      <td style="text-align: center">
        <p ng-hide="order.editing" ng-dblclick="order.editing = true">{{cartItems.quantity}}</p>
        <input ng-show="order.editing" class="form-control" ng-change="RecalculationOrder()" ng-model="cartItems.quantity">
      </td>
      <td style="text-align: center">
        <p ng-hide="order.editing" ng-dblclick="order.editing = true">{{cartItems.discount}}%</p>
        <input ng-show="order.editing" class="form-control" ng-change="RecalculationOrder()" ng-model="cartItems.discount">
      </td>
      <td style="text-align: center">
        <p>{{cartItems.price}}</p>
      </td>
      <td style="text-align: center">
        <p>{{cartItems.amount}} грн</p>
      </td>
    </a>
  </tr>
  </tbody>
</table>

<div ng-if="goodsTable.length == 0" class="jumbotron" style="margin-top: 20px">
  <p>Заказ пустий</p>
</div>


