<!--<a ng-show="book.code === 709684" bk-facebook url=absUrl code="709684" style="color: black"></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<a href="https://www.facebook.com/share.php?u={{absUrl}}&caption=kmbooks.com.ua" style="color: black"><i class="fa fa-facebook" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://vkontakte.ru/share.php?url={{absUrl}}" style="color: black"><i class="fa fa-vk" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://plus.google.com/share?url={{absUrl}}" style="color: black"><i class="fa fa-google-plus" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/share?text={{book.name}}&url={{absUrl}}" style="color: black"><i class="fa fa-twitter" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://pinterest.com/pin/create/button/?url={{absUrl}}&media={{'http://kmbooks.com.ua/' + book.image.replace('.jpg', '_big.jpg')}}&description={{book.description}}" style="color: black"><i class="fa fa-pinterest" style="font-size: large"></i></a>
