<div id="bookBanner" style="position: absolute; left: 0; top: 0; height: 60%; width: 100%"><!--{{bannerImage}}-->
    <div class="book-banner" ng-dblclick="editItem(book)" style="background-image:url('{{bannerImage}}'); background-position: center; background-size: cover; height: 100%; margin-top: -40px">
      <div class="book-caption hidden-xs" style="font-family:Calibri; position: relative;
                  top: 50%; color: white; text-shadow: 0 1px 2px rgba(0,0,0,.6);
                  width: 67%" ng-style="bootTitleStyle"><!--0 1px 1px rgba(0,0,0,0.75);-->
        <h1 style="font-size: 41px">{{book.name}}</h1>
        <p style="font-size: 16px">{{book.author}}</p>
      </div>
      <div class="visible-xs" style="font-family:Calibri; position: relative;
                  top: 45%; left: 8%; color: white; text-shadow: 0 1px 2px rgba(0,0,0,.6);
                  width:95%
                  "><!--0 1px 1px rgba(0,0,0,0.75);-->
        <h1 style="font-size: 30px">{{book.name}}</h1>
        <p style="font-size: 16px">{{book.author}}</p>
      </div>
    </div>
</div>
<div class="container book-view" ng-if="isEditor()" ng-style="bookInfoStyle">
  <div class="panel panel-default" ng-if="book.editing">
    <div class="panel-heading">
      <span>
        Редагування банеру.
      </span>
      <md-button class="md-icon-button pull-right" style="margin-top: -10px" ng-click="book.editing = false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </md-button>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1">
          <input type="file" ng-jcrop-input="uploadBanner" nv-file-select="" uploader="uploader" options="{formData: [{code: book.code, rectangle: []}]}" style="padding-bottom: 10px">
          <md-button ng-click="saveItem(book)" style="min-width: 100px" ng-disabled="bannerSaving">
            Зберігти
            <i ng-show="bannerSaving" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </md-button>
        </div>
        <div class="col-md-11">
          <div ng-if="book.upl_item" style="padding-top: 30px; padding-left: 20px;">
            <div ng-jcrop="cropSelection.src" ng-jcrop-config-name="uploadBanner" selection="cropSelection.selection" thumbnail="cropSelection.thumbnail"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-heading">Завантажити файл.</div>
    <form name="userForm">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <md-input-container>
              <label>Тип</label>
              <md-select ng-model="selectors.bookType">
                <md-option ng-repeat="bookType in bookTypes" ng-value="bookType">
                  {{bookType}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container ng-show="selectors.bookType === 'book'">
              <label>Формат</label>
              <md-select ng-model="selectors.bookFormat">
                <md-option ng-repeat="bookFormat in bookFormats" ng-value="bookFormat">
                  {{bookFormat}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col-md-9">
            <input type="file" nv-file-select="" uploader="uploaderFile" options="{formData: [{code: book.code}]}" style="padding-bottom: 10px">
            <md-button ng-click="saveFileItem(book)" ng-disabled="!userForm.$valid || fileSaving" style="min-width: 100px">
              Зберігти
              <i ng-show="fileSaving" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </md-button>
          </div>
        </div>
        <div class="row">
          <bk-el-books-list></bk-el-books-list>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row" ng-style="bookInfoStyle" ng-hide="book.editing">
  <div bk-photoswipe slides="gallery.images" show="gallery.show" slide-selector=".slide-list > a > img"
       on-close="closeGallery()" options="gallery.opts">
  </div>
  <div class="col-md-3 hidden-xs hidden-sm" style="padding-left: 0; padding-right: 0" ng-if="gallery.images.length > 0">
    <div class="slide-list">
      <a ng-repeat="image in gallery.images track by $index" ng-click="showGallery($index)">
        <img ng-show="image.flat === false" src="{{image.srcThumbNail}}" class="point_img img-responsive center-block" style="max-height: 250px; margin-bottom: 6px">
      </a>
    </div>
  </div>
  <div class="hidden-md hidden-lg text-center">
    <div style="display: inline-block; position: relative;">
      <span ng-if="book.actionKM != null" style="position: absolute; top: 0%; left: -3%">
        <img width="60" height="60" src="img/minus_{{book.actionKM}}_baloon.png">
      </span>
      <span>
        <img src="{{book.image}}" class="point_img" ng-click="showGallery(1)">
      </span>
    </div>

    <p style="margin-top: 30px; text-align: center">
      <bk-price book="book" div="false"></bk-price>
      <bk-buy-button book="book"></bk-buy-button>
      <p style="font-size: 12px;" ng-if="book.actionKM != null">
      <span style="color: red">﻿-20% НА КНИГИ ДЛЯ ІДЕАЛЬНОЇ ВІДПУСТКИ!</span><br>
Вартість на сайті вказано вже зі знижкою.<br>
Акція діє з 29.07.2019 до 04.08.2019<br>
      <a href="https://kmbooks.com.ua/news?id=5d3eb4be6689c90780590dd8">Детальніше про акцію</a>
      </p>
      <p ng-if="bookFragment !== ''" style="text-align: center">
        <md-button ng-click="OpenFragment(bookFragment.file)" class="">
          <span style="font-size: large" class="glyphicon glyphicon-book brand-color"></span>&nbsp;&nbsp;читати фрагмент
        </md-button>
      </p>
      <bk-el-books-buttons></bk-el-books-buttons>
      <div style="margin-top: 30px; text-align: center">
        <bk-social-buttons item="book" kind="book" abs-url="absUrl"></bk-social-buttons>
      </div>
    </p>
  </div>
  <div class="col-md-6 book-data" style="padding-left: 5px;">
    <md-button class="md-icon-button" ng-click="AddToWishList(book)"
               style="position: absolute; top: -9px; left: 80px" aria-label="Favorite">
      <i ng-class="wishHeart" ng-mouseleave="onMouseLeave()" ng-mouseenter="onMouseEnter()" style="font-size: medium;"></i>
    </md-button>
    <bk-book-detail-info></bk-book-detail-info>
    <span ng-if="description"><h3 style="font-family: Calibri" class="brand-color">Анотація</h3></span>
    <span ng-if="description" class="book-description" ng-bind-html="description" style="text-align: justify"></span>
    <h3 ng-if="news.length > 0" style="font-family: Calibri" class="brand-color">Новини</h3>
    <div class="col-md-6 col-xs-12" style="margin: 0 0; padding: 1px 1px;" ng-repeat="oneNews in news">
      <bk-news-tile news="oneNews"></bk-news-tile>
    </div>
    <div class="clearfix"></div>
    <h3 style="font-family: Calibri" class="brand-color">Рецензії</h3>
    <div ng-repeat="comment in comments">
      <h5 style="margin-top: 25px">
        <span class="brand-color">{{comment.name}}</span>
        <div style="font-size: smaller; margin-top: 12px">
          <i class="glyphicon glyphicon-time"></i>&nbsp;<span>{{toDateTime(comment.id)}}</span>
        </div>
      </h5>
      <p style="text-align: justify; margin-top: 14px"ng-bind-html="comment.text">
      </p>
    </div>
    <md-button style="margin-left: 0" class="md-raised brand-color-background" ng-click="addComment(comment)" ng-if="!comment.savedSuccess" ng-disabled="comment.editing">
      <span>Додати мою рецензію</span>
    </md-button>
    <form ng-if="!comment.savedSuccess && comment.editing" name="userForm" ng-submit="registration.submit(userForm.$valid)">
      <div class="row">
        <div ng-if="!isAuthorized()" class="col-md-6 form-group">
          <label>
            Email:
          </label>
          <input name="email" type="email" class="form-control" placeholder="email"  ng-model="comment.email" bk-check-email="user.email" required>
          <div style="color: black" ng-messages="userForm.email.$error">
            <div ng-message="required">Обов'язковий для заповнення</div>
            <div ng-message="email">Введіть корректний email</div>
            <div ng-message="checkEmailUnique">Користувач з таким email вже зарєєстрований на сайті. Увійдіть щоб залишити свою рецензію</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label>
            Прізвище, ім'я:
          </label>
          <input name="name" type="text" class="form-control" ng-model="comment.name" minlength="3"
                 required>
          <div style="color: black" ng-messages="userForm.name.$error">
            <div ng-message="required">Обов'язкове для заповнення</div>
            <div ng-message="minlength">Мінімальна довжина ім'я повинна будти 3 символи</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>
          Додати рецензію:
        </label>
        <textarea name="name" type="text" class="form-control" ng-model="comment.text" rows="4"
                  required></textarea>
        <div style="color: black" ng-messages="userForm.name.$error">
          <div ng-message="required">Обов'язкове для заповнення</div>
        </div>
      </div>
      <md-button style="margin-left: 0" class="md-raised brand-color-background" ng-click="doneComment(comment)" ng-disabled="!userForm.$valid">
        <span>Зберегти</span>
        <i ng-show="comment.saving" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </md-button>
    </form>
    <div ng-if="comment.savedSuccess">
      <div uib-alert class="alert-success">
        Ваш відгук збережено та буде відображений через деякий час.
      </div>
    </div>
    <div ng-if="comment.savedError">
      <div uib-alert class="alert-danger">
        В процесі збереження виникла помилка
      </div>
    </div>
  </div>
  <div class="col-md-3 hidden-xs hidden-sm">
    <div style="position: fixed; top: 60px;">
      <div style="background: rgba(255, 255, 255, 0.4); padding: 8px;">
        <div ng-if="book.actionKM != null" style="position: absolute; top: -1%; left: -10%">
          <img width="80" height="80" src="img/minus_{{book.actionKM}}_baloon.png">
        </div>
        <img class="img-responsive point_img" src="{{flatImage}}" ng-style="flatImageHeight" ng-click="showGallery(flatImageIndex)" style="box-shadow: 0px 0px 10px #d8d8d8;">
        <p style="margin-top: 30px; text-align: center">
          <bk-price book="book" div="false"></bk-price>
          <bk-buy-button book="book">
          </bk-buy-button>
        </p>
        <div style="font-size: 12px; border: 1.5px solid darkgoldenrod; padding: 5px" ng-if="book.actionKM != null">
          <div style="color: red; font-size: 15px; text-align: center">﻿-20% НА КНИГИ ДЛЯ ІДЕАЛЬНОЇ ВІДПУСТКИ!</div>
Вартість на сайті вже зі знижкою.<br>
          <div style="display: flex">
            <div style="flex: 1">
              До кінця акції: <br>
              <span style="font-size: 16px">{{discountCountdownDays}}<sub>д</sub>
                {{discountCountdownHours}}<sub>ч</sub>
                {{discountCountdownMinutes}}<sub>м</sub>
                {{discountCountdownSeconds}}<sub>с</sub>
              </span>
            </div>
            <div style="flex: 1">
              Акція діє з 29.07.2019 до 04.08.2019 <br>
              <a href="https://kmbooks.com.ua/news?id=5d3eb4be6689c90780590dd8">Детальніше про акцію</a>
            </div>
          </div>
        </div>
        <p ng-if="bookFragment !== ''" style="text-align: center">
          <md-button ng-click="OpenFragment(bookFragment.file)" class="">
            <span style="font-size: large" class="glyphicon glyphicon-book brand-color"></span>&nbsp;&nbsp;читати фрагмент
          </md-button>
        </p>
        <bk-el-books-buttons></bk-el-books-buttons>
        <div style="margin-top: 30px; text-align: center">
          <bk-social-buttons item="book" kind="book" abs-url="absUrl"></bk-social-buttons>
        </div>
      </div>
    </div>
  </div>
</div>




