<h1 style="color: #428bca">{{myHeader}}</h1>
<p>Знайдено {{goodsCount}} товарів</p>

<bk-pagination></bk-pagination>

<div ng-repeat="book in books">
  <div class="panel-default" style="margin-top: 15px">
    <div class="row">
      <div class="col-md-3 text-center">
        <a href="#/book_view?code={{book.code}}">
          <img src="{{book.image}}" class="img-rounded">
        </a>
        <p style="margin-top: 30px; text-align: center"><a href="http://bukva.ua/catalog/browse/{{book.codeGroup}}/1/{{book.code}}"><span style="font-size: medium; color: black;">Ціна: {{book.price}} грн</span><button class="btn btn-primary" ng-disabled = "[1227, 2008].indexOf(book.state) !== -1" style="margin-left: 20px"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;купити</button></a></p>
      </div>
      <div class="col-md-9 book-info">
        <a href="#/book_view?code={{book.code}}">
          <h4 style="color: #428bca">{{book.name}}</h4>
        </a>
        <div><b>Код: </b><span style="color: #428bca">{{book.code}}</span></div>
        <div ng-if="book.autor"><b>Автор: </b>{{book.autor}}</div>
        <div ng-if="book.seriya"><b>Серія: </b>{{book.seriya}}</div>
        <div>
          <span ng-if="book.sk"><b>Штрихкод: </b>{{book.sk}}</span>
          <span ng-if="book.isbn">, <b>ISBN: </b>{{book.isbn}}</span>
        </div>
        <div ng-if="book.pereplet"><b>Обкладинка: </b> {{book.pereplet}}</div>
        <div ng-if="book.str"><b>Сторінок: </b> {{book.str}}</div>
        <div ng-if="book.year"><b>Рік видання: </b> {{book.year}}</div>
        <div ng-if="book.description"><b>Описання: </b>{{book.description}}...</div>
      </div>
    </div>
  </div>
</div>

<bk-pagination></bk-pagination>
