<h1 style="color: #428bca">{{myHeader}}</h1>
<p>Знайдено {{goodsCount}} товарів</p>

    <div class="row">
       <div class="col-md-3" ng-show="isCatalog()">
         <div class="panel-default">
           <div class="panel-heading" style="margin-bottom: 7px">
             Ціна
           </div>
           <slider ng-model="priceSliderValue" range="true" min="priceFrom" step="1" max="priceTo" value="priceSliderValue"></slider>
           <div class="form-group" style="margin-top: 15px">
             <input class="form-control" ng-model="priceSliderValue[0]" style="max-width: 60px; float: left"><span style="float: left; margin-top: 5px">&nbsp;-&nbsp;</span>
             <input class="form-control" ng-model="priceSliderValue[1]" style="max-width: 60px; float: left">&nbsp;грн
             <button ng-click="priceFilterApply()" class="btn btn-primary">Фільтр</button>
           </div>
         </div>
         <uib-accordion close-others = false>

         <div uib-accordion-group class="panel-default" is-open="false">
           <div uib-accordion-heading>
             Автори
           </div>
           <div class="checkbox" ng-repeat="author in authors | filter: {name:'!!'}">
             <label>
               <input type="checkbox" ng-click="authorFilterApply()" ng-model="filters.authorChecked['value' + $index]" ng-true-value="'{{author.name}}'"
                                        ng-false-value="">
                                       {{author.name}}&nbsp;&nbsp;
                                       <span style="color: lightgrey">({{author.count}})</span>
             </label>
           </div>
         </div>
         <div uib-accordion-group class="panel-default" is-open="true">
           <div uib-accordion-heading>
             Серії
           </div>
           <div class="checkbox" ng-repeat="oneSeries in series | filter: {name:'!!'}">
             <label>
               <input type="checkbox" ng-click="seriesFilterApply()" ng-model="filters.seriesChecked['value' + $index]" ng-true-value="'{{oneSeries.name}}'"
                      ng-false-value=""> {{oneSeries.name}}&nbsp;&nbsp;<span style="color: lightgrey">({{oneSeries.count}})</span>
             </label>
           </div>
         </div>
         <div uib-accordion-group class="panel-default" is-open="true">
           <div uib-accordion-heading>
             Палітурка
           </div>
           <div class="checkbox" ng-repeat="cover in covers | filter: {name:'!!'}">
             <label>
               <input type="checkbox" ng-click="coversFilterApply()" ng-model="filters.coversChecked['value' + $index]" ng-true-value="'{{cover.name}}'"
                      ng-false-value=""> {{cover.name}}&nbsp;&nbsp;<span style="color: lightgrey">({{cover.count}})</span>
             </label>
           </div>
         </div>
         <div uib-accordion-group class="panel-default" is-open="true">
           <div uib-accordion-heading>
             Мова
           </div>
           <div class="checkbox" ng-repeat="language in languages | filter: {name:'!!'}">
             <label>
               <input type="checkbox" ng-click="languagesFilterApply()" ng-model="filters.languagesChecked['value' + $index]" ng-true-value="'{{language.name}}'"
                      ng-false-value=""> {{language.name}}&nbsp;&nbsp;<span style="color: lightgrey">({{language.count}})</span>
             </label>
           </div>
         </div>
         </uib-accordion>
       </div>
       <div class="col-md-9">
         <div class="row">
           <div class="col-md-12">
            <span ng-repeat="(nameInModel, author) in filterEmpty(filters.authorChecked)">
              <button class="btn btn-default btn-sm" ng-click="removeFromAuthorFilter(nameInModel)">
                {{author}}
                <span>
                    <i class="fa fa-times-circle" style="font-size: small" aria-hidden="true"></i>
                </span>
              </button>
            </span>
            <span ng-repeat="(nameInModel, series) in filterEmpty(filters.seriesChecked)">
              <button class="btn btn-default btn-sm" ng-click="removeFromSeriesFilter(nameInModel)">
                {{series}}
                <span>
                    <i class="fa fa-times-circle" style="font-size: small" aria-hidden="true"></i>
                </span>
              </button>
            </span>
            <span ng-repeat="(nameInModel, cover) in filterEmpty(filters.coversChecked)">
              <button class="btn btn-default btn-sm" ng-click="removeFromCoversFilter(nameInModel)">
                {{cover}}
                <span>
                    <i class="fa fa-times-circle" style="font-size: small" aria-hidden="true"></i>
                </span>
              </button>
            </span>
            <span ng-repeat="(nameInModel, language) in filterEmpty(filters.languagesChecked)">
              <button class="btn btn-default btn-sm" ng-click="removeFromLanguagesFilter(nameInModel)">
                {{language}}
                <span>
                    <i class="fa fa-times-circle" style="font-size: small" aria-hidden="true"></i>
                </span>
              </button>
            </span>
           </div>
         </div>
         <bk-catalog></bk-catalog>
       </div>
    </div>

