<div class="row">
  <div bk-photoswipe slides="gallery.images" show="gallery.show" slide-selector=".slide-list > a > img"
       on-close="closeGallery()" options="gallery.opts">
  </div>
  <div class="col-md-4 hidden-xs hidden-sm" ng-if="gallery.images.length > 0">
    <div class="slide-list">
      <a ng-repeat="image in gallery.images track by $index" ng-click="showGallery($index)">
        <img ng-show="image.flat === false" src="{{image.srcThumbNail}}" class="point_img img-responsive center-block" style="max-height: 250px; margin-bottom: 6px">
      </a>
    </div>
  </div>
  <div class="hidden-md hidden-lg" style="text-align: center">
      <img src="{{book.image}}" class="img-responsive point_img center-block" ng-click="showGallery(1)">
      <p style="margin-top: 30px; text-align: center">
        <span style="font-size: large; color: black;">{{book.price}} грн</span>
        <bk-buy-button book = "book"></bk-buy-button>
      </p>
  </div>
  <div class="col-md-6 book-data">
    <bk-book-detail-info></bk-book-detail-info>
    <span ng-if="description"><h3 style="font-family: Calibri" class="brand-color">Анотація</h3></span>
    <span ng-if="description" ng-bind-html="description"></span>
    <h3 ng-if="news.length > 0" style="font-family: Calibri" class="brand-color">Новини</h3>
    <div class="col-md-6 col-xs-12" style="margin: 0 0; padding: 1px 1px;" ng-repeat="oneNews in news">
      <bk-news-tile news="oneNews"></bk-news-tile>
    </div>
  </div>
  <div class="col-md-2 hidden-xs hidden-sm">
    <div style="position: fixed; top: 60px; margin-left: -30px;">
      <div style="background: rgba(255, 255, 255, 0.4); padding: 8px;">
        <img class="img-responsive point_img" src="{{flatImage}}" ng-style="flatImageHeight" ng-click="showGallery(flatImageIndex)" style="box-shadow: 0px 0px 10px #d8d8d8;">
        <p style="margin-top: 30px; text-align: center">
          <span style="font-size: 25px; color: black;">{{book.price}} <span style="font-size: 15px">грн</span></span>
          <bk-buy-button book = "book"></bk-buy-button>
        </p>
        <p ng-if="bookFragment !== ''" style="text-align: center">
          <md-button ng-click="OpenFragment(bookFragment.file)" class="">
            <span style="font-size: large" class="glyphicon glyphicon-book brand-color"></span>&nbsp;&nbsp;читати фрагмент
          </md-button>
        </p>
        <!--<md-button class="md-fab md-mini brand-color-background" ng-click="">
          <md-tooltip md-direction="right">Погортати</md-tooltip>
          <span style="font-size: medium" class="fa fa-cloud-download"></span>
        </md-button>{{absUrl}}-->
        <div style="margin-top: 30px; text-align: center">
           <a ng-show="book.code === 709684" bk-facebook url=absUrl code="709684" style="color: black"></a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://www.facebook.com/share.php?u={{absUrl}}&caption=kmbooks.com.ua" style="color: black"><i class="fa fa-facebook" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="http://vkontakte.ru/share.php?url={{absUrl}}" style="color: black"><i class="fa fa-vk" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://plus.google.com/share?url={{absUrl}}&title={{book.name}}&srcTitle=kmbooks.com.ua&srcURL={{absUrl}}" style="color: black"><i class="fa fa-google-plus" style="font-size: large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://twitter.com/share?text={{book.name}}&url={{absUrl}}" style="color: black"><i class="fa fa-twitter" style="font-size: large"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>




