<div style="padding: 5px" ng-controller="HeaderCtrl">
  <span ng-repeat="cartItems in cart.goodsTable">
    <div class="row">
      <div class="col-md-3" style="min-height: 55px">
        <img class="img-responsive" ng-src="/img/pics/{{cartItems.code}}.jpg"/>
      </div>
      <div class="col-md-9">
        <p>{{cartItems.name}}</p>
      </div>
    </div>
    <hr ng-if="!$last" style="margin: 5px 0 10px 0">
  </span>
  <button style="margin-top: 10px" class="btn btn-primary">Оформити замовлення</button>
</div>
