<div class="row" style="margin-top: 10px">
  <div class="col-md-6">
    <table ng-if="cart.goodsTable.length > 0" class="table-striped">
      <caption>Кошик. При замовленні на 450.00 грн отримуєте	безкоштовну доставку по Україні</caption>
      <thead>
        <th class="col-md-1">

        </th>
        <th class="col-md-2">

        </th>
        <th class="col-md-5">
          Товар
        </th>
        <th class="col-md-1">
          Кільк
        </th>
        <th class="col-md-1">
          Знижка
        </th>
        <th class="col-md-1">
          Ціна
        </th>
        <th class="col-md-1">
          Сума
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="cartItems in cart.goodsTable">
            <a href="#/book_view?code={{cartItems.code}}">
              <td style="text-align: center">
                <span><i class="fa fa-times-circle-o" aria-hidden="true"
                         style="cursor: pointer;" ng-click="removeFromCart(cartItems.code)"></i></span>
              </td>
              <td>
                <img class="img-responsive" style=" min-width: 70px" ng-src="/img/pics/{{cartItems.code}}.jpg"/>
              </td>
              <td style="text-align: center">
                <p>{{cartItems.name}}</p>
              </td>
              <td>
                <input class="form-control" ng-change="ChangeQuantity()" ng-model="cartItems.quantity">
              </td>
              <td style="text-align: center">
                <p>{{cartItems.discount}}%</p>
              </td>
              <td style="text-align: center">
                <p>{{cartItems.price}}</p>
              </td>
              <td style="text-align: center">
                <p>{{cartItems.quantity * cartItems.price}} грн</p>
              </td>
            </a>
        </tr>
        <tr>
          <th>
            Всього:
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th style="text-align: center">
            {{cart.orderAmount}} грн
          </th>
        </tr>
      </tbody>
    </table>
    <div ng-if="!cart.goodsTable.length > 0" class="jumbotron" style="margin-top: 20px">
      <p>Ваш кошик порожній</p>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Доставка та оплата</h4>
    <p>Замовлення №</p>
    <p>вартість товарів</p>
    <p>вартість доставки</p>
    <p>до сплати</p>
    <p style="font-size: small">*- остаточна вартість замовлення буде відома при надходженні товару на склад</p>
    <div class="form-group">
      <label>
        Місто
      </label>
      <select class="form-control"  ng-model="selector.city" ng-change="SelectCity()" ng-options="city as city.name for city in cities">
      </select>
    </div>
    <div class="form-group">
      <label>
        Тип доставки
      </label>
      <select class="form-control" ng-model="selectedDelivery" ng-change="SelectDelivery()" ng-options="delivery as delivery.name for delivery in selectedCity.delivery">
      </select>
    </div>
    <div class="form-group">
      <label>
        Метод платежу
      </label>
      <select class="form-control" ng-model="selectedPayment" ng-change="SelectPayment()" ng-options="payment as payment.name for payment in selectedDelivery.payments">
      </select>
    </div>
    <div ng-if="selectedDelivery.id === '5'" class="form-group">
      <label>
        Відділення Нової Пошти:
      </label>
      <select class="form-control" ng-model="selectedNewPostWHS" ng-change="SelectNewPostWHS()" ng-options="newPostWHS as newPostWHS.name for newPostWHS in selectedCity.newPostWHS">
      </select>
      <!--<div class="row">
        <div class="col-md-6">-->
          <table style="margin: 10px 0 0 6px" class="table-striped" width = 100%>
          <caption>
            {{selectedNewPostWHS.name}}. {{selectedNewPostWHS.type}}. Часи роботи.
          </caption>
          <thead>
            <th class="col-md-6">
              День:
            </th>
            <th class="col-md-6">
              Години:
            </th>
          </thead>
          <tbody>
            <tr>
              <td>Понеділок</td>
              <td>{{selectedNewPostWHS.open[1]}}</td>
            </tr>
            <tr>
              <td>Вівторок</td>
              <td>{{selectedNewPostWHS.open[2]}}</td>
            </tr>
            <tr>
              <td>Середа</td>
              <td>{{selectedNewPostWHS.open[3]}}</td>
            </tr>
            <tr>
              <td>Чертвер</td>
              <td>{{selectedNewPostWHS.open[4]}}</td>
            </tr>
            <tr>
              <td>Пятниця</td>
              <td>{{selectedNewPostWHS.open[5]}}</td>
            </tr>
            <tr>
              <td>Субота</td>
              <td>{{selectedNewPostWHS.open[6]}}</td>
            </tr>
            <tr>
              <td>Неділя</td>
              <td>{{selectedNewPostWHS.open[7]}}</td>
            </tr>
          </tbody>
        </table>
        <!--</div>
        <div class="col-md-6">

        </div>
      </div>-->
    </div>

    <div ng-if="selectedDelivery.id === '3'" class="form-group">
      <label>
        Магазин:
      </label>
      <select class="form-control" ng-model="selectedShop" ng-options="shop as shop.name for shop in selectedCity.shops">
      </select>
      <div style="margin: 10px 0 0 6px">
        <a href="#/map?code_shop={{selectedShop.sprut_code}}">
          {{selectedShop.name}}
        </a>
      </div>
      <p style="margin: 10px 0 0 6px" ng-bind-html="selectedShop.description"></p>
    </div>

    <h4>Контактна особа</h4>
    <div class="form-group">
      <input class="form-control" placeholder="ПІБ">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Телефон">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Адреса доставки">
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Додати коментар"></textarea>
    </div>
    <button class="btn btn-primary">Замовити</button>
  </div>
</div>
