<div class="row" style="margin-top: 10px">
  <div class="col-md-6">
    <table ng-if="cart.goodsTable.length > 0" class="table-striped">
      <caption>Кошик. При замовленні на 450.00 грн отримуєте	безкоштовну доставку по Україні</caption>
      <thead>
        <th class="col-md-1">

        </th>
        <th class="col-md-2">

        </th>
        <th class="col-md-5">
          Товар
        </th>
        <th class="col-md-1">
          Кільк
        </th>
        <th class="col-md-1">
          Знижка
        </th>
        <th class="col-md-1">
          Ціна
        </th>
        <th class="col-md-1">
          Сума
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="cartItems in cart.goodsTable">
            <a href="#/book_view?code={{cartItems.code}}">
              <th style="text-align: center">
                <span><i class="fa fa-times-circle-o" aria-hidden="true"
                         style="cursor: pointer;" ng-click="removeFromCart(cartItems.code)"></i></span>
              </th>
              <th>
                <img class="img-responsive" style=" min-width: 70px" ng-src="/img/pics/{{cartItems.code}}.jpg"/>
              </th>
              <th style="text-align: center">
                <p>{{cartItems.name}}</p>
              </th>
              <th>
                <input class="form-control" ng-change="ChangeQuantity()" ng-model="cartItems.quantity">
              </th>
              <th style="text-align: center">
                <p>{{cartItems.discount}}%</p>
              </th>
              <th style="text-align: center">
                <p>{{cartItems.price}}</p>
              </th>
              <th style="text-align: center">
                <p>{{cartItems.quantity * cartItems.price}} грн</p>
              </th>
            </a>
        </tr>
        <tr>
          <th>
            Всього:
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th style="text-align: center">
            {{cart.orderAmount}} грн
          </th>
        </tr>
      </tbody>
    </table>
    <div ng-if="!cart.goodsTable.length > 0" class="jumbotron" style="margin-top: 20px">
      <p>Ваш кошик порожній</p>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Доставка та оплата</h4>
    <p>Замовлення №</p>
    <p>вартість товарів</p>
    <p>вартість доставки</p>
    <p>до сплати</p>
    <p style="font-size: small">*- остаточна вартість замовлення буде відома при надходженні товару на склад</p>
    <div class="form-group">
      <label>
        Місто
      </label>
      <select class="form-control"></select>
    </div>
    <div class="form-group">
      <label>
        Тип доставки
      </label>
      <select class="form-control"></select>
    </div>
    <div class="form-group">
      <label>
        Метод платежу
      </label>
      <select class="form-control"></select>
    </div>
    <h4>Контактна особа</h4>
    <div class="form-group">
      <input class="form-control" placeholder="ПІБ">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Телефон">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Адреса доставки">
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Додати коментар"></textarea>
    </div>
    <button class="btn btn-primary">Замовити</button>
  </div>
</div>
