<div style="padding: 5px;" ng-controller="HeaderCtrl">
  <span ng-repeat="cartItems in cart.goodsTable">
    <div class="row">
      <a href="/book?code={{cartItems.code}}">
        <div class="col-md-3">
          <img class="img-responsive" style="min-height: 55px; min-width: 35px" ng-src="/img/pics/{{cartItems.code}}.jpg"/>
        </div>
        <div class="col-md-9">
          <p>{{cartItems.name}}</p>
        </div>
      </a>
    </div>
    <hr ng-if="!$last" style="margin: 8px 0 8px 0">
  </span>
  <a href="/cart">
    <md-button ng-click="closeCartTooltip()" style="margin-top: 14px" class="md-raised brand-color-background center-block">
      Оформити замовлення
    </md-button>
  </a>
</div>
