<h2 style="color: #428bca; margin-top: 10px">Контакти:</h2>

<p class="contact-info" style="padding-top: 10px;">з питань співробітництва:</p>

<p class="contact-info"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;вадим александров</p>

<p class="contact-info"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;zamotsna@bukvashops.com.ua</p>

<p class="contact-info" style="margin-top: 30px">з питань рекламного просування:</p>

<p class="contact-info"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;елена одинока</p>

<p class="contact-info"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;vasyuk.ea@bukvashops.com.ua</p>

<p class="contact-info" style="margin-top: 30px"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;(044) 237-70-24</p>

<p class="contact-info"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;м. Київ, вул. Богдана Хмельницького, 3Б</p>



