<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards" ng-controller = "Work1Controller">
  <div class="panel panel-default">
    <div class="list-group">
      <div class="list-group-item">
        <a style="color: #333;" href = "#/event_view?id={{it.data.id}}">
          <h4>{{it.data.title}}</h4>
        </a>
      </div>
      <a style="color: #333;" href = "#/event_view?id={{it.data.id}}">
        <img class="img-responsive" ng-src="{{it.data.image}}" when-visible="animateElementIn" when-not-visible="animateElementOut">
      </a>
      <div class="list-group-item">
        <a ng-show="it.data.codeShop !== 0" href="/map?code_shop={{it.data.codeShop}}">
          <i class="glyphicon glyphicon-map-marker"></i><em style="margin-left: 5px">{{it.data.where}}</em>
        </a>
        <span ng-hide="it.data.codeShop !== 0">
          <i class="glyphicon glyphicon-map-marker"></i><em style="margin-left: 5px">{{it.data.where}}</em>
        </span>
      </div>
      <div class="list-group-item">
        <p class="list-group-item-text" ng-hide='showingMoreText' ta-bind ng-model="it.textShort">
        <p class="list-group-item-text" ng-show='showingMoreText' ta-bind ng-model="it.data.text">
      </div>
    </div>
    <div class="panel-footer">
      <i class="glyphicon glyphicon-time"></i><em style="margin-left: 5px; margin-top: 5px">{{it.data.when | date: 'dd.MM.yyyy'}} o
      {{it.data.when | date: 'HH-mm'}}</em>
      <a class="btn btn-xs pull-right" ng-hide='showingMoreText' ng-click='toggleText()'>
        <span class="glyphicon glyphicon-chevron-down" style="margin-left: 5px;"></span>
        Бiльше
      </a>
      <a class="btn btn-xs pull-right" ng-show='showingMoreText' ng-click='toggleText()'>
        <span class="glyphicon glyphicon-chevron-up"><span style="margin-left: 5px;">Менше</span></span>
      </a>
    </div>
  </div>
</div>
