 <div class="row">
   <div class="col-md-12">
   <h2>
     Рекомендуємо
   </h2>
   </div>
      <span ng-repeat="recommended in recommendeds">
          <div class="col-xs-12 col-sm-6 col-md-3" style="min-height: 400px">
            <bk-book-tail book="recommended"></bk-book-tail>
          </div>
          <div class="clearfix visible-sm-block" ng-if="$odd"></div>
      </span>
  </div>

  <div class="row">
    <div class="col-md-12">
    <a href="/#/catalog?sortBy=noveltiesFirst">
      <h2>
        Бестселери
      </h2>
    </a>
    <div class="pull-right" style="margin-top: -42px">
      <h4><a style="text-decoration: underline" href="/#/catalog?sortBy=noveltiesFirst">Всi бестселери</a></h4>
    </div>
    </div>
      <span ng-repeat="bestseller in bestsellers">
          <div class="col-xs-12 col-sm-6 col-md-3" style="min-height: 400px">
            <bk-book-tail book="bestseller"></bk-book-tail>
          </div>
          <div class="clearfix visible-sm-block" ng-if="$odd"></div>
      </span>
  </div>

  <div class="row">
    <div class="col-md-12">
       <a href="/#/catalog?sortBy=bestsellersFirst">
         <h2>
           Новинки
         </h2>
       </a>
       <div class="pull-right" style="margin-top: -42px">
         <h4><a style="text-decoration: underline" href="/#/catalog?sortBy=bestsellersFirst">Всi новинки</a></h4>
       </div>
    </div>
      <span ng-repeat="novelty in noveltys">
           <div class="col-xs-12 col-sm-6 col-md-3" style="min-height: 400px">
             <bk-book-tail book="novelty"></bk-book-tail>
           </div>
           <div class="clearfix visible-sm-block" ng-if="$odd"></div>
      </span>
  </div>

  <h2>
    Події
  </h2>
  <div dynamic-layout items="cards"></div>






