 <div class="row">
   <div class="col-md-12">
   <h2>
     Рекомендуємо
   </h2>
   </div>
      <span ng-repeat="recomended in recomendeds">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="bukva-item">
              <a href="#/book_view?code={{recomended.code}}">
                <div class="cover_img" style="background-image:url('{{recomended.image}}');"> </div>
              </a>
              <div class="size">
                <h4>
                  <a href="#/book_view?code={{recomended.code}}">
                    {{recomended.name}}
                  </a>
                </h4>
                <p>
                  <b> Код: </b> {{recomended.code}}
                  <span ng-if="recomended.author"> <b>Автор:&nbsp;</b><a href="#/search?author={{recomended.author}}">{{recomended.author}}</a></span>
                </p>
                <p>
                  <span ng-if="recomended.description">{{recomended.description}}</span>
                </p>
                <a href="http://bukva.ua/catalog/browse/{{recomended.codeGroup}}/1/{{recomended.code}}" style="align: center; text-decoration:none">
                  <button class="btn btn-primary bukva-btn center-block"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;купити в інтернет магазині</button>
                </a>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block" ng-if="$odd"></div>
      </span>
  </div>

  <div class="row">
    <div class="col-md-12">
    <a href="/#/bestsellers">
      <h2>
        Бестселери
      </h2>
    </a>
    <div class="pull-right" style="margin-top: -42px">
      <h4><a style="text-decoration: underline" href="/#/bestsellers">Всi бестселери</a></h4>
    </div>
    </div>
      <span ng-repeat="bestseller in bestsellers">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="bukva-item">
              <a href="#/book_view?code={{bestseller.code}}">
                <div class="cover_img" style="background-image:url('{{bestseller.image}}');"> </div>
              </a>
              <div class="size">
                <h4>
                  <a href="#/book_view?code={{bestseller.code}}">
                    {{bestseller.name}}
                  </a>
                </h4>
                <p>
                  <b> Код: </b> {{bestseller.code}}
                  <span ng-if="bestseller.author"> <b>Автор:&nbsp;</b><a href="#/search?author={{bestseller.author}}">{{bestseller.author}}</a></span>
                </p>
                <p>
                  <span ng-if="bestseller.description">{{bestseller.description}}</span>
                </p>
                <a href="http://bukva.ua/catalog/browse/{{bestseller.codeGroup}}/1/{{bestseller.code}}" style="text-decoration:none">
                  <button class="btn btn-primary bukva-btn center-block"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;купити в інтернет магазині</button>
                </a>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block" ng-if="$odd"></div>
      </span>
  </div>

  <div class="row">
    <div class="col-md-12">
       <a href="/#/novelties">
         <h2>
           Новинки
         </h2>
       </a>
       <div class="pull-right" style="margin-top: -42px">
         <h4><a style="text-decoration: underline" href="/#/novelties">Всi новинки</a></h4>
       </div>
    </div>
      <span ng-repeat="novelty in noveltys">
           <div class="col-xs-12 col-sm-6 col-md-3">
             <div class="bukva-item">
               <a href="#/book_view?code={{novelty.code}}">
                 <div class="cover_img" style="background-image:url('{{novelty.image}}');"> </div>
               </a>
               <div class="size">
                 <h4>
                   <a href="#/book_view?code={{novelty.code}}">
                     {{novelty.name}}
                   </a>
                 </h4>
                 <p>
                   <b> Код: </b> {{novelty.code}}
                   <span ng-if="novelty.author"> <b>Автор:&nbsp;</b><a
                     href="#/search?author={{novelty.author}}">{{novelty.author}}</a></span>
                 </p>
                 <p>
                   <span ng-if="novelty.description">{{novelty.description}}</span>
                 </p>
                 <a href="http://bukva.ua/catalog/browse/{{novelty.codeGroup}}/1/{{novelty.code}}" style="align: center; text-decoration:none">
                   <button class="btn btn-primary bukva-btn center-block"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;купити в інтернет магазині</button>
                 </a>
               </div>
             </div>
           </div>
           <div class="clearfix visible-sm-block" ng-if="$odd"></div>
      </span>
  </div>

  <h2>
    Події
  </h2>
  <div dynamic-layout items="cards"></div>






