<h1 class="brand-color">Мої замовлення</h1>
<h4>{{username}}</h4>
<div class="row">
  <table class="table-striped table-bordered table-hover" width="100%">
    <thead>
      <th style="text-align: center">
         <p>Номер</p>
      </th>
      <th style="text-align: center">
        <p>Дата створення</p>
      </th>
      <th style="text-align: center">
        <p>Статус</p>
      </th>
      <th style="text-align: center">
        <p>Доставка</p>
      </th>
      <th style="text-align: center">
        <p>Оплата</p>
      </th>
      <th style="text-align: center">
        <p>Всього</p>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders" ng-click="setGoodsTable(order)">
        <td style="text-align: center">
          <p>{{order.number}}</p>
        </td>
        <td style="text-align: center">
          <p>{{toDateTime(order.id)}}</p>
        </td>
        <td style="text-align: center">
          <p>{{order.orderState}}</p>
        </td>
        <td style="text-align: center">
          <p>{{order.delivery.name}}</p>
        </td>
        <td style="text-align: center">
          <p>{{order.payment.name}}</p>
        </td>
        <td style="text-align: center">
          <p>{{order.totalAmount}} грн</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-6">
    <bk-order-goods-table goods-table="goodsTable"></bk-order-goods-table>
  </div>
  <div ng-if="currentOrder !== undefined" class="col-md-6" style="margin-top: 10px">
    <p>Замовлення №{{currentOrder.number}}</p>
    <p>Дата: {{toDateTime(currentOrder.id)}}</p>
    <p>Статус: {{currentOrder.orderState}}</p>
    <p>Коментар: {{currentOrder.orderComment}}</p>
    <p>Доставка: {{currentOrder.delivery.name}}</p>
    <p>Оплата: {{currentOrder.payment.name}}</p>
    <p>Сума: {{currentOrder.orderAmount}} грн</p>
    <p>Сума доставки: {{currentOrder.deliveryCost}} грн</p>
    <p>Сума всього: {{currentOrder.totalAmount}} грн</p>
    <img src="">
    <md-button style="margin-left: 0" class="md-raised brand-color-background"
               ng-if="currentOrder.orderState === 'Зібраний' && currentOrder.orderState !== 'Сплачений' && currentOrder.payment.id === '2'"
               ng-click="Pay(currentOrder)">
       Оплатити замовлення
    </md-button>
  </div>
</div>
