<div class="row">
  <div class = "col-md-8">
    <h2 class="brand-color" style="font-family: Calibri">{{news.title}}</h2>
    <div style="font-size: 14px; margin-bottom: 6px;">
      <i class="glyphicon glyphicon-time"></i><span style="margin-left: 5px">{{news.date | date: 'dd.MM.yyyy'}} o {{news.date | date: 'HH:mm'}}</span>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-eye" aria-hidden="true"></i><span style="margin-left: 5px">{{news.viewsCount}}</span>
      <bk-social-buttons item="news" kind="news" abs-url="absUrl" class="pull-right"></bk-social-buttons>
    </div>
    <div ng-if="videoLink !== '' && showIframe"  class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="{{news.sceLink}}"></iframe>
    </div>
    <img ng-if="videoLink === ''" class="img-responsive center-block visible-md visible-lg" src="{{news.image + '_original.jpg'}}" style="margin-top: 10px; margin-bottom: 25px;">
    <img ng-if="videoLink === ''" class="img-responsive center-block visible-xs visible-sm" src="{{news.image + '_big.jpg'}}" style="margin-top: 10px; margin-bottom: 25px;">
    <!--<p ta-bind ng-model="news.text" class="news-container" style="margin-top: 10px; text-align: justify;"></p>-->
    <div froala-view="news.text" class="news-container" style="margin-top: 10px;"></div>
    <!--<div style="padding-bottom: 50px; text-align: center"></div>-->
    <span ng-if="books.length > 0">
      <h2 class="brand-color" style="font-family: Calibri">В статті йшлося про:</h2>
      <span ng-repeat="book in books" style="margin-top: 25px">
       <div class="col-xs-6 col-sm-6 col-md-4" style="min-height: 425px;">
         <bk-book-tail book="book"></bk-book-tail>
       </div>
       <div class="clearfix" ng-if="books.length === 1"></div>
       <div class="clearfix visible-md-block" ng-if="($index+1)%3 === 0"></div>
       <div class="clearfix visible-xs-block" ng-if="($index+1)%2 === 0"></div>
      </span>
    </span>
  </div>
  <div class = "col-md-4" style="padding-top: 0px;">
    <h3 style="font-family:Calibri; color: black; border-bottom: 1px solid grey; margin-bottom: 10px;">
      ІНШІ НОВИНИ
    </h3>
    <div ng-repeat="news in allNews | filter: {id: '!' + news.id}">
      <div class="col-md-12" style="margin: 5px 0; padding-left: 0px; padding-right: 0px">
        <bk-news-tile news = "news"></bk-news-tile>
      </div>
      <!--<div style="font-size: 18px; line-height: 22px; margin-bottom: 5px;">
        <a style="" href = "#/news?id={{news.id}}">
          {{news.title}}
        </a>
      </div>
      <div style="font-size: 12px; color: #a09e98; margin-bottom: 15px;">
        {{news.date | date: 'dd.MM.yyyy'}} o {{news.date | date: 'HH-mm'}}
      </div>-->
    </div>
  </div>
</div>
