<div class="row">
  <div class = "col-md-8">
    <h2 class="brand-color" style="font-family: Calibri">{{news.title}}</h2>
    <div style="font-size: 14px; margin-bottom: 6px;">
      <i class="glyphicon glyphicon-time"></i><span style="margin-left: 5px">{{news.date | date: 'dd.MM.yyyy'}} o {{news.date | date: 'HH-mm'}}</span>
    </div>
    <div ng-show="news.videoLink !== ''" class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="{{news.sceLink}}"></iframe>
    </div>
    <img ng-show="news.videoLink === ''" class="img-responsive visible-md visible-lg" src="{{news.image + '_original.jpg'}}" style="margin-top: 10px; margin-bottom: 25px;">
    <img ng-show="news.videoLink === ''" class="img-responsive visible-xs visible-sm" src="{{news.image + '_big.jpg'}}" style="margin-top: 10px; margin-bottom: 25px;">
    <p ta-bind ng-model="news.text" style="margin-top: 10px; text-align: justify;"></p>
    <div style="padding-bottom: 50px; text-align: center"></div>
  </div>
  <div class = "col-md-4" style="padding-top: 0px;">
    <h3 style="color: black; border-bottom: 1px solid grey; margin-bottom: 10px;">
      ІНШІ НОВНИ
    </h3>
    <div ng-repeat="news in allNews">
      <div class="col-md-12" style="margin: 5px 0;">
        <bk-news-tile news = "news"></bk-news-tile>
      </div>
      <!--<div style="font-size: 18px; line-height: 22px; margin-bottom: 5px;">
        <a style="" href = "#/news?id={{news.id}}">
          {{news.title}}
        </a>
      </div>
      <div style="font-size: 12px; color: #a09e98; margin-bottom: 15px;">
        {{news.date | date: 'dd.MM.yyyy'}} o {{news.date | date: 'HH-mm'}}
      </div>-->
    </div>
  </div>
</div>
