<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="pull-left" style="color: #428bca">
        Наші партнери
      </div>
      <a class="btn btn-xs pull-right" ng-click='externalScope().deleteCard(it.data.id)'>
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="list-group">
      <div class="list-group-item" style="text-align: center; height: 70px">
        <a href="http://bukva.ua">
          <img class="img-rounded" src="/images/logo_bukva.png">
        </a>
      </div>
      <div class="list-group-item" style="text-align: center; height: 125px">
        <a href="http://kmbooks.com.ua">
          <img class="img-rounded" src="/images/logo_km.png">
        </a>
      </div>
    </div>
  </div>
</div>
