<div style="background-color:white; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
  <md-toolbar>
    <div class="md-toolbar-tools brand-color-background">
      <h4>Повідомлення</h4>
    </div>
  </md-toolbar>
  <div style="padding: 15px; text-align: center">
    <p>Для того, щоб додавати товари в лист бажаннь вам необхідно зареєструватися</p>
    <a href="#/user_registration">
      <md-button class="md-raised brand-color-background center-block">Так</md-button>
    </a>
    <md-button class="md-raised brand-color-background center-block" ng-click="ctrl.closeDialog()">Ні</md-button>
  </div>
</div>
