<h2 style="color: #428bca">Пошук товарів</h2>

<p>Знайдено {{goodsCount}} товарів</p>

<bk-pagination></bk-pagination>

<div ng-repeat="book in books">
  <div class="panel-default" style="margin-top: 15px">
    <div class="row">
           <div class="col-md-3 text-center">
              <a href="#/book_view?code={{book.code}}">
                <img src="{{book.image}}" class="img-rounded">
              </a>
             <p style="margin-top: 30px; text-align: center"><a href="http://bukva.ua/catalog/browse/{{book.codeGroup}}/1/{{book.code}}"><span style="font-size: medium; color: black;">Ціна: {{book.price}} грн</span><button class="btn btn-primary" ng-disabled = "[1227, 2008].indexOf(book.state) !== -1" style="margin-left: 20px"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;купити</button></a></p>
           </div>
           <div class="col-md-9 book-info">
              <div><b>Код: </b>{{book.code}}</div>
              <div>{{book.name}}</div>
              <div ng-if="book.autor"><b>Автор: </b>{{book.autor}}</div>
              <div ng-if="book.seriya"><b>Серія: </b>{{book.seriya}}</div>
              <div>
                  <span ng-if="book.sk"><b>Штрихкод: </b>{{book.sk}}</span>
                  <span ng-if="book.isbn">, <b>ISBN: </b>{{book.isbn}}</span>
              </div>
              <div ng-if="book.izdatel"><b>Видавець: </b>{{book.izdatel}}</div>
              <div ng-if="book.katalog"><b>Каталог: </b>{{book.katalog}}</div>
              <div ng-if="book.pereplet"><b>Обкладинка: </b> {{book.pereplet}}</div>
              <div ng-if="book.str"><b>Сторінок: </b> {{book.str}}</div>
              <div ng-if="book.year"><b>Рік видання: </b> {{book.year}}</div>
              <div ng-if="book.description"><b>Описання: </b>{{book.description}}...</div>
           </div>
      </div>
  </div>
</div>

<bk-pagination></bk-pagination>

<div class="jumbotron" ng-if="proceedSearch == true">
   <p>Зачекайте, йде пошук ...</p>
   <img class="img-responsive center-block" src="/img/loading.gif">
</div>

<div class="jumbotron" ng-if="books.length == 0 && proceedSearch != true && searchString != ''">
   <p>На жаль, за таким запитом книги відсутні</p>
</div>

