<h2 style="color: #428bca">Пошук товарів</h2>

<p>Знайдено {{goodsCount}} товарів</p>

<bk-pagination></bk-pagination>

<div ng-repeat="book in books">
  <div class="panel-default">
           <div class="col-md-3 text-center">
              <a href="#/book_view?code={{book.code}}">
                <img src="{{book.image}}" class="img-rounded">
              </a>
             <p style="margin-top: 30px; text-align: center"><a href="http://bukva.ua/catalog/browse/{{book.codeGroup}}/1/{{book.code}}"><span style="font-size: medium; color: black;">Ціна: {{book.price}} грн</span><button class="btn btn-primary" ng-disabled = "[1227, 2008].indexOf(book.state) !== -1" style="margin-left: 20px"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;купити</button></a></p>
           </div>
           <div class="col-md-9 book-info">
              <b>Код: </b>{{book.code}}
              <br> <b>Найменування: </b>{{book.name}}
              <span ng-if="book.autor"><br> <b>Автор: </b>{{book.autor}}</span>
              <span ng-if="book.seriya"><br> <b>Серія: </b>{{book.seriya}}</span>
              <span ng-if="book.sk"><br> <b>Штрихкод: </b>{{book.sk}}</span><span ng-if="book.isbn">, <b>ISBN: </b>{{book.isbn}}</span>
              <span ng-if="book.izdatel"><br> <b>Видавець: </b>{{book.izdatel}}</span>
              <span ng-if="book.katalog"><br> <b>Каталог: </b>{{book.katalog}}</span>
              <span ng-if="book.pereplet"><br><b>Обкладинка: </b> {{book.pereplet}}</span>
              <span ng-if="book.str"><br><b>Сторінок: </b> {{book.str}}</span>
              <span ng-if="book.year"><br><b>Рік видання: </b> {{book.year}}</span>
              <span ng-if="book.description" ng-bind-html="description"><br><b>Описання: </b></span>
           </div>
  </div>
</div>

<bk-pagination></bk-pagination>

<div class="jumbotron" ng-if="proceedSearch == true">
   <p>Зачекайте, йде пошук ...</p>
   <img class="img-responsive center-block" src="/img/loading.gif">
</div>

<div class="jumbotron" ng-if="books.length == 0 && proceedSearch != true && searchString != ''">
   <p>На жаль, за таким запитом книги відсутні</p>
</div>

