<style>
  th {
    font-weight: normal;
  }
</style>
<h1 class="brand-color">Редагування налаштуваннь</h1>
<br>
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-8">Найменування</th>
      <th class="col-md-2">Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Рекомендуємо: {{settings.recommended}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label for="name" class="col-md-12" ng-show="settings.editing">Рекомендуємо</label>
          <textarea id="name" class="form-control" rows="2" ng-show="settings.editing" ng-model="settings.recommended"
                    autofocus></textarea>
        </div>
      </th>
      <th>
        <button type="button" class="btn btn-primary btn-xs" ng-click="editItem(settings)" ng-disabled="settings.editing">
          <span class="glyphicon glyphicon-edit"></span> Редагувати
        </button>
        <button type="button" class="btn btn-success btn-xs" ng-click="doneEditing(settings)" ng-disabled="!settings.editing">
          <span class="glyphicon glyphicon-save"></span> Зберігти
        </button>
      </th>
    </tr>
    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Скоро у продажу: {{settings.soonOnSale}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label for="name1" class="col-md-12" ng-show="settings.editing">Незабаром у продажу:</label>
          <textarea id="name1" class="form-control" rows="2" ng-show="settings.editing" ng-model="settings.soonOnSale"
                    autofocus></textarea>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Мій ТОП: {{settings.customTop}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label for="name2" class="col-md-12" ng-show="settings.editing">Мій ТОП:</label>
          <textarea id="name2" class="form-control" rows="2" ng-show="settings.editing" ng-model="settings.customTop"
                    autofocus></textarea>
        </div>
      </th>
    </tr>
    <br>
    <h2>Акции</h2>
    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Акция: {{settings.actionText}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label class="col-md-12" ng-show="settings.editing">Акция:</label>
          <textarea class="form-control" rows="2" ng-show="settings.editing" ng-model="settings.actionText"
                    autofocus></textarea>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Последний день акции: {{settings.actionLastDay | date}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label class="col-md-12" ng-show="settings.editing">Последний день акции:</label>
          <md-datepicker ng-show="settings.editing" ng-model="settings.actionLastDay"
                    autofocus></md-datepicker>
        </div>
      </th>
    </tr>

    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Текст СМС укр почты: {{settings.smsTextUkrPost}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label class="col-md-12" ng-show="settings.editing">Текст СМС укр почты::</label>
          <textarea class="form-control" rows="2" ng-show="settings.editing" ng-model="settings.smsTextUkrPost"
                         autofocus></textarea>
        </div>
      </th>
    </tr>

    <tr>
      <th>
        <h4 class="text-left" ng-hide="settings.editing" ng-dblclick="editItem(settings)">Текст СМС новой почты: {{settings.smsTextNewPost}}</h4>
        <div ng-show="settings.editing" class="form-group">
          <label class="col-md-12" ng-show="settings.editing">Текст СМС новой почты:</label>
          <textarea class="form-control" rows="2" ng-show="settings.editing" ng-model="settings.smsTextNewPost"
                         autofocus></textarea>
        </div>
      </th>
    </tr>


    </tbody>
  </table>
</div>
