<div style="background-color: white; box-shadow: 1px 1px 10px #d8d8d8; max-width: 600px; border-radius: 4px">
  <md-toolbar class="md-medium-tall" style="max-height: 44px; min-height: 44px;">
    <div class="md-toolbar-tools  brand-color-background" style="font-family: Calibri;">
      <h1>ПІДПИШИСЬ НА НОВИНИ</h1>
      <span flex></span>
      <md-button class="md-icon-button" style="text-align: right" ng-click="ctrl.closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-height:500px;">
  <form name="subscriptionForm">
    <div class="row" style="margin: 10px;">
      <div class="input-group col-xs-12">
        <label>Ім'я</label>
        <input name="name" class="form-control" ng-model="name" required minlength="3">
        <div ng-messages="subscriptionForm.name.$error" ng-show="subscriptionForm.name.$dirty">
          <div ng-message="required">Обов'язковий для заповнення!</div>
          <div ng-message="minlength">Мінімум 3 символи</div>
        </div>
      </div>

      <div class="input-group col-xs-12">
        <label>Email</label>
        <input name="email" class="form-control" type="email" ng-model="email" required>
        <div ng-messages="subscriptionForm.email.$error" ng-show="subscriptionForm.email.$dirty">
          <div ng-message="required">Обов'язковий для заповнення!</div>
          <div ng-message="email">Введіть корректний email</div>
        </div>
      </div>

      <div class="input-group col-xs-12">
        <label>Вподобання</label>
        <select class="form-control" ng-model="selectors.preference">
          <option ng-repeat="preference in preferences" ng-value="preference">
            {{preference}}
          </option>
        </select>
      </div>
    </div>
  </form>
  </md-dialog-content>
  <div class="center-block" style="text-align: center; padding-bottom: 5px">
    <md-button ng-click="ctrl.Save()" ng-disabled="!subscriptionForm.$valid || savingInProgress"  class="md-raised brand-color-background center-block">
      <span>Підписатись</span>
      <i ng-show="savingInProgress" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </md-button>
  </div>
</div>
