<h1 class="brand-color">Мій лист бажань</h1>
<h4>{{username}}</h4>
<div class="row">
  <table ng-if="wishList.length > 0" class="table-striped table-hover" width="100%">
      <thead>
      <th class="col-md-1">

      </th>
      <th class="col-md-2">

      </th>
      <th class="col-md-5">
        Товар
      </th>
      </thead>
      <tbody>
      <tr ng-repeat="wishItem in wishList">
        <td style="text-align: center">
              <span><i class="fa fa-times-circle-o" aria-hidden="true"
                       style="cursor: pointer;" ng-click="removeFromList(wishItem)"></i></span>
        </td>
        <td>
          <a href="/book?code={{wishItem.code}}">
            <img class="img-responsive" style="max-width: 70px" ng-src="/img/pics/{{wishItem.code}}.jpg"/>
          </a>
        </td>
        <td>
          <a href="/book?code={{wishItem.code}}">
            <p>{{wishItem.name}}</p>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
</div>
<div ng-if="!wishList.length > 0" class="jumbotron" style="margin-top: 20px">
  <p>Ваш лист бажань порожній</p>
</div>
