<h1 class="brand-color">Книги за рейтингом у листі бажаннь</h1>
<div class="row">
  <md-input-container>
    <label>Дата с</label>
    <md-datepicker ng-model="dateStart"></md-datepicker>
  </md-input-container>
  <md-input-container>
    <label>по</label>
    <md-datepicker ng-model="dateEnd"></md-datepicker>
  </md-input-container>
  <md-button class="md-raised brand-color-background" ng-click="GetWishListGroupedByBooks()">
    <i ng-show="saving" style="font-size: small" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    ЗАПОВНИТИ
  </md-button>
  <div ng-style="styleOrdersList" class="row">
    <table class="table-striped table-bordered table-hover" width="100%">
      <thead>
        <th style="text-align: center">
          <p>Код</p>
        </th>
        <th style="text-align: center">
          <p>Картинка</p>
        </th>
        <th style="text-align: center">
          <p>Ім'я</p>
        </th>
        <th style="text-align: center">
          <p>Кількість</p>
        </th>
        <th style="text-align: center">
          <p>Кількість на складах</p>
        </th>
      </thead>
      <tbody ng-repeat="bookInWishLists in booksInWishLists">
        <tr ng-click="setWishListUserList(bookInWishLists)">
          <td style="text-align: center">
            <a href="/book?code={{bookInWishLists.book.code}}">
              <p>{{bookInWishLists.book.code}}</p>
            </a>
          </td>
          <td>
            <a href="/book?code={{bookInWishLists.book.code}}">
              <img class="img-responsive" style="max-width: 70px;" ng-src="/img/pics/{{bookInWishLists.book.code}}.jpg"/>
            </a>
          </td>
          <td>
            <p>{{bookInWishLists.book.name}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bookInWishLists.count}}</p>
          </td>
          <td style="text-align: center">
            <p>{{bookInWishLists.book.kvo}}</p>
          </td>
        </tr>
        <tr ng-if="bookInWishLists.active === true">
          <td colspan="5">
            <bk-wish-list-user-list users-list="bookInWishLists.users"></bk-wish-list-user-list>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
